@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "morabba_light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./styles/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "morabba_medium";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./styles/fonts/Morabba/woff2/Morabba-Medium.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "morabba_bold";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("./styles/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "dana_light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./styles/fonts/Dana/woff2/DanaFaNum-Regular.woff2")
      format("woff2");
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "morabba_light";
  }

  body,
  html,
  #root {
    @apply w-full bg-primary_lighteen dark:bg-primary_darken;
    direction: rtl;
    font-family: "dana_light", "morabba_light";
    line-height: normal; 
    scroll-behavior: smooth;  
  }
}
.ant-menu-submenu-title {
  padding-right: 0;
  height: 24px !important;
  
}

/* Custom scrollbar styles */
.scrollbar-thumb {
  @apply bg-gray-500 rounded; /* Customize the draggable part of the scrollbar */
}

.scrollbar-thumb:hover {
  @apply bg-gray-600; /* Change color on hover */
}

.scrollbar-track {
  @apply bg-gray-200; /* Customize track */
}

/* Apply scrollbar in a component */
.scrollbar {
  scrollbar-width: thin; /* For Firefox */
}

.scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-500; /* Custom scrollbar thumb */
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200; /* Custom scrollbar track */
}
ul.ant-menu.ant-menu-sub.ant-menu-inline {
  max-height: 250px;
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
}

:where(.css-dev-only-do-not-override-161f05s).ant-menu-inline .ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title{
  padding: 1rem;
}
:where(.css-dev-only-do-not-override-161f05s).ant-menu-inline.ant-menu-root .ant-menu-item, :where(.css-dev-only-do-not-override-161f05s).ant-menu-inline.ant-menu-root .ant-menu-submenu-title{
  padding: 0.5rem;
}